/* 定义app */
#app{
    margin: auto;
    background-color: #fff;
}
#app>img{
    display: block;
    margin: 40px auto;
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
}
#app>a{
    display: block;
    text-align: center;
    margin: auto;
    font: 30px/1.5 sans-serlf;
    text-decoration-line: underline;
}